body {
    padding-left: 30px;
    padding-top: 30px;
    color: white;
    background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;

    font-family: "PingFang SC", "Microsoft YaHei", "Myriad Pro", "OpenSans", Verdana, SimSun, sans-serif !important;
}

.close-btn {
    position: fixed !important;
    font-size: 15px !important;
    color: white !important;
    top: 8px;
    right: 10px;
    width: 19px;
}

.close-btn .b-font {
    height: 19px !important;
    line-height: 19px !important;
}

.close-btn .b-font:before {
    color: white !important;
}

.font-bold {
    font-weight: 500;
}

.title {
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 24px;
}

.version {
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
}

.desc {
    margin-top: 40px;
    font-size: 13px;
    width: 82%;
    margin-left: 19px;
    text-indent: -19px;
    overflow: visible !important;
}

.desc .bi-label {
    overflow: visible !important;
}

.moreInfo {
    margin-top: 20px;
    font-size: 13px;
    text-decoration: underline;
}

.buttonGroup {
    position: absolute !important;
    bottom: 60px;
}

.buttonGroup .bi-button {
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    box-shadow: 0 2px 4px 0 rgba(0,82,169,0.20);
    border-radius: 12px;
}

.buttonGroup .button-ignore  {
    background-color: white !important;
    border: 1px solid white !important;
    color: #51A6FF;
}

.buttonGroup .button-common {
    background-color: #51A6FF !important;
    border: 1px solid #51A6FF !important;
}

